$sprite: '../img/sprites/sprite.svg#';

$white              :#fff;
$black              :#000;
$light-black        :#292C31;
$font-black         :#3A3A3A;
$font-light-black   :#6A6A6A;
$blue               :#7171FF;
$light-blue         :#BFBFFF;
$lightest-blue      :#C3C3FF;
$gray               :#EDEDED;
$light-gray         :#f3f3f3;
$dark-gray          :#737373;
$red                :#E85858;
$melrose            :#C3C3FF;

$font-family-base   :'Roboto' , sans-serif;
$font               :'Roboto';
