mixin services(value = false)
    +b.services
        .container
            .row
                +e.wrp
                    +e.inner
                        +e.UL.list(data-direction=value.direction data-duration=value.duration)
                            each val, index in value.images
                                +e.LI.item
                                    - var iconName = "img/svg/" + value.images[index] + ".svg"
                                    img(src=iconName)

