mixin offer(value = false)
    +b.SECTION.offer#offer
        +e.wrp
            .container
                .row
                    +e.H2.heading #{value.heading}
                    +e.UL.content
                        +e.LI.item
                            +appBtn({iconName: "appstore", class: "offer__store", viewbox: "0 0 158 37"})
                        +e.LI.item
                            +appBtn({iconName: "googleplay", class: "offer__store", viewbox: "0 0 167 36"})
                    +picture({
                        sm: true,
                        name: "iphone",
                        class: "phone"
                    })
