.offer {

    position: relative;
    @media (min-width: $break_xl) {
        padding-top: 28px;
        padding-bottom: 74px;
    }
    @media (min-width: $break_md) {
        padding-bottom: 70px;
    }
    @media (min-width: $break_sm) {
        padding-bottom: 50px;
    }
    @media (min-width: $break_lg) {
        padding-bottom: 80px;
    }

    &__heading {
        font-weight: 500;
        font-size: 24px;
        color: $font-black;
        width: 100%;
        text-align: center;
        margin-bottom: 28px;
        @media (min-width: $break_sm) {
            font-size: 36px;
            margin-left: 15px;
            text-align: left;
        }
        @media (min-width: $break_lg) {
            width: auto;

            margin: auto 15px;
        }
        @media (min-width: $break_xl) {
            margin-left: 45px;
            margin-right: 57px;
            letter-spacing: -1.4px;
            font-size: 39px;
        }
    }

    .container {
        @media (min-width: $break_xl) {
            position: relative;
        }
    }

    &__phone {
        display: block;
        order: 0;
        position: absolute;
        top: -50px;
        right: 50%;
        left: 50%;
        transform: translate(-50%);
        @media (min-width: $break_xl) {
            top: -162px;
            right: 40px;
            width: 312px;
        }
        @media (min-width: $break_md) {
            top: 87px;
            width: 270px;
        }
        @media (min-width: $break_lg) {
            top: 26px;
            width: 190px;
        }
        @media (min-width: $break_sm) {
            width: 190px;
            height: auto;
            top: 70px;
            right: 15px;
            left: auto;
            transform: translateX(0);
        }
    }

    &__wrp {
        padding: 320px 0 40px;
        background-color: $gray;
        @media (min-width: $break_lg) {
            padding: 88px 0;
        }
        @media (min-width: $break_sm) {
            padding: 50px 0;
        }
        @media (min-width: $break_md) {
            padding: 70px 0;
        }
        @media (min-width: $break_xl) {
            padding: 71px 0 56px;
        }
    }

    &__content {
        @include col();
        @include size(12);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        order: 1;
        margin: 0 auto;
        max-width: 345px;
        @media (min-width: $break_sm) {
            margin: 0 15px;
        }
        @media (min-width: $break_lg) {
            width: auto;
            max-width: none;
            align-items: center;
            justify-content: flex-start;
        }
    }

    &__item {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
        @media (min-width: $break_sm) {
            margin: 0;
        }

        & + & {
            @media (min-width: $break_sm) {
                margin-top: 15px;
            }
            @media (min-width: $break_lg) {
                margin-top: 0;
                margin-left: 15px;
            }
            @media (min-width: $break_xl) {
                margin-left: 47px;
            }
        }
    }

    &__logo-wrp {
        @media (min-width: $break_sm) {
            width: auto;
            margin-right: 24px;
        }
        display: flex;
        justify-content: center;
        width: 100%;
    }

    &__logo {

        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        background: linear-gradient(48.44deg, #c4cdff 0%, #7171ff 50.83%, #1c1c9d 100%);
        border-radius: 12px;
        margin-bottom: 16px;

        @media (min-width: $break_md) {
            width: 80px;
            height: 80px;
            border-radius: 16px;
        }
    }

    &__svg {
        display: block;
        z-index: 1;
        width: 25px;
        height: 25px;
        @media (min-width: $break_md) {
            width: 44px;
            height: 44px;
            border-radius: 16px;
        }
    }

    &__app-store-img {
        display: block;
        @media (min-width: $break_sm) {
            width: 218px;
            height: 64px;
        }
    }

}
