mixin offer(value = false)
    +b.SECTION.offer#offer
        +e.wrp
            .container
                .row
                    +e.H2.heading #{value.heading}
                    +e.UL.content
                        +e.LI.item
                            +picture({
                                sm: true,
                                name: "app-store",
                                format: "png",
                                class: "app-store-img"
                            })
                        +e.LI.item
                            +picture({
                                sm: true,
                                name: "google-play",
                                format: "png",
                                class: "app-store-img"
                            })
                    +picture({
                        sm: true,
                        name: "iphone",
                        format: "png",
                        class: "phone"
                    })
