mixin stats(value = false)
    +b.SECTION.stats
        .container
            .row
                +e.H2.heading #{value.heading}
                +e.content-wrp
                    +b.pouf-wrp
                        +b.IMG.pouf._medium(src="img/content/pouf-medium.webp")
                    +e.IMG.backdrop-mirror(src="img/content/mirror-circle.webp" width="36" height="36")
                    +e.IMG.backdrop-mirror._top(src="img/content/mirror-circle.webp" width="36" height="36")
                    +e.IMG.backdrop-mirror._top._shadow(src="img/content/mirror-circle-shadow.webp" width="36" height="36")
                    //+e.IMG.blur-image(src="img/content/blur-image.webp")
                    +e.content
                        +e.UL.list
                            each val, index in value.content
                                +e.LI.item(data-fill-percentage=val[2])
                                    +e.text-wrp
                                        +e.P.num #{val[0]}
                                        +e.P.text #{val[1]}
                                    +e.SVG.circle
                                        +e.CIRCLE.circle-progress._path(cx="72" cy="72" r="67")
                                        +e.CIRCLE.circle-progress._fill(cx="72" cy="72" r="66")
                                    +e.SVG.circle._big
                                        +e.CIRCLE.circle-progress._path(cx="105" cy="105" r="100")
                                        +e.CIRCLE.circle-progress._fill(cx="105" cy="105" r="100")
                        //+e.IMG.backdrop-circle(src="img/content/purple-circle.webp" width="200" height="200")
                        //+e.IMG.backdrop-circle._top(src="img/content/purple-circle.webp" width="200" height="200" filter="url(#blurCircle)")
