mixin copyright(value = false)
    -
        var
                elem = value.elem
    +b.copyright(class=elem)
        +e.logo-wrp
            +icon({
                name: "logo-white",
                class: "copyright__logo",
                viewport: '0 0 90 32',
            })
        +e.text
            +e.P.content © 2021 Inka Corporation LLC
