extends layouts/default
include helpers/mixins
include ../blocks/components/preload/preload
include ../blocks/components/hamburger/hamburger
include ../blocks/modules/nav/nav
include ../blocks/modules/title/title
include ../blocks/components/app-btn/app-btn
include ../blocks/modules/stats/stats
include ../blocks/modules/count/count
include ../blocks/modules/steps/steps
include ../blocks/modules/support/support
include ../blocks/modules/cryptocurrencies/cryptocurrencies
include ../blocks/modules/solution/solution
include ../blocks/modules/slider/slider
include ../blocks/modules/services/services
include ../blocks/modules/roadmap/roadmap
include ../blocks/modules/offer/offer
include ../blocks/modules/callback/callback
include ../blocks/modules/social/social
include ../blocks/modules/copyright/copyright

block variables
    -
        var
                title = "INKA"
        navigationItems = [["Product", "Product"], ["Services we use", "services"], ["Roadmap", "Roadmap"]]
        countList = [["8", "Chains", "1s"], ["100", "Cryptocurrencies", "1s"], ["15", "DeFi services", "1s"]]
        statsList = [["10+", "Chains", "14"], ["100+", "DeFi Services", "33"], ["1000+", "Crypto-currencies", "69"]]
        // statsList = [["10+", "Chains", "15"], ["100+", "DeFi Services", "15"], ["1000+", "Crypto-currencies", "15"]]
        imagesCount = ["img/content/1.png", "img/content/2.png", "img/content/3.png"]
        textCount = [
            "Download INKA app on App Store or Play Market",
            "Start buying and exchanging cryptocurrencies",
            "Earn under 30% annually by staking cryptocurrency"
        ]
        supportCrypto = ["tether", "dai", "ethereum", "chainlink", "usd-coin", "btc"];
        cryptocurrenciesList = ["Cryptocurrencies", "Exchange rate", "DeFi services", "Investments decisions"];
        solutionContent = [["DeFi staking", "Staking is an activity where a user locks or holds his funds in a cryptocurrency wallet to participate in maintaining the operations of a proof-of-stake (PoS)-based blockchain system. It is similar to crypto mining because it helps a network achieve consensus while rewarding users who participate.", "liquid-swap", "liquid-swap@x2", "360", "493"], ["Liquid swap", "Liquid Swap is a feature that facilitates the simple exchanging of digital assets and cryptocurrencies. Trade without having to navigate complex trading dashboards. You can select the currency you'd like to buy and the currency you'd like to pay with. Enter the amount and complete the transaction.", "defi-staking", "defi-staking@x2", "360", "493"], ["Exchange", "A decentralized exchange (DEX, decentralized exchange) is an exchange that operates based on a distributed registry, does not store funds and personal data of users on its servers, and acts only as a platform for finding matches on applications for the purchase or sale of users' assets.", "dex", "dex@x2", "627", "423"], ["Web3 wallet", "INKA is a Web3 technology-based application, which uses decentralized protocols for all of its available functions. Secure and protected environment is easily accessed with a seed phrase. Users can create a new wallet or import an existing one from any of Web3 wallets.", "crypto-founds", "crypto-founds@x2", "627", "423"]]
        sliderSlides = [["INKA wallet", "Wallet security is based on DeFi protocols. The code can be checked by anybody."], ["One click", "Everything is in the INKA app. No more switching to third-party apps. All DeFi services and cryptocurrencies are available in INKA."], ["Digital assets", "Sending digital assets in a chat. Send messages and cryptocurrency to any user directly in the chat."]]
        socialIconsName = [["telegram"], ["fb"], ["twitter", "https://twitter.com/FinanceInka?s=09"], ["medium", "https://inkafinance-info.medium.com/"], ["github", "https://github.com/Inka-Finance"], ["linkedin"]]
        inputs = [["Enter your name", "text", "username"], ["Enter your e-mail", "email", "email"]]
        marqueFirst = ["curve", "solrise", "aave", "uniswap", "polkadex", "pancakeSwap", "set", "compound", "balancer"]
        marqueSecond = ["equilibrium", "centrifuge", "venus", "linch", "stellarTerm", "bakeryswap", "raydium", "mantradao", "polkaswap"]
        roadmap = [["Q3-Q4", ["10+ Chains", "100+ DeFi services", "1000+ Cryptocurrencies"], ["Level 1"]], ["Q1-Q2", ["Crosschain exchange", "Crypto ETF indexes", "DeFi mining", "Transaction analytics", "Algoritmic trade & rebalancing", "NFT platform", "Sending cryptocurrencies via chats"], "Level 2"], ["Q3-Q4", ["DeFi full functionality services", "Multisig corporate wallet", "Tokenized IPO analytics", "Derivatives", "Insurance", "Lending", "All crossed chains"], "Level 3"]]

block content
    include ../../node_modules/bemto.pug/bemto.pug
    +b.HEADER.header
        .container.w-100
            .row
                +icon({
                    name: "logo",
                    class: "header__logo",
                })
                +hamburger({
                    parentClass: "header_hamburger"
                })
                +nav({
                    navigationListItems: navigationItems,
                })
    +b.MAIN.main
        +e.title-wrp
            +title({
                heading: "We simplify crypto for you.",
                text: "The most friendly DeFi wallet and aggregator.<br>  Earn, deposit, borrow and swap cryptocurrencies in a tap."
            })
        +stats({
            content: statsList,
            heading: "Easy access to",
        })
        +solution({
            heading: "Product",
            solutionContent: solutionContent,
        })
        +slider({
            slides: sliderSlides,
        })
        +b.SECTION.section._lightgray.section-solutions(id="services")
            +e.H2.heading Services we use
            +e.wrapper
                div(style="position: relative;")
                    +services({
                        direction: "left",
                        duration: 30,
                        images: marqueFirst,
                    })
                div(style="position: relative;")
                    +services({
                        direction: "right",
                        duration: 15,
                        images: marqueSecond,
                    })
        +roadmap({
            heading: "Roadmap",
            levels: roadmap,
        })
        +offer({heading: "Coming soon on:"})
        +count({
            countList: countList,
        })
    +b.FOOTER.footer
        +icon({name: "logo-white", class: "footer__logo-mob"})
        +social({
            iconsName: socialIconsName,
            elem: "footer__soc",
        })
        +copyright({
            elem: "footer__copyright",
        })
        +e.reg
            +e.P.reg-content INKA Finance Ltd registered in England and Wales with company number 13562357
    .social-popup(style="background-color: white; color: #3A3A3A; padding: 5px; position: absolute" role="tooltip") Coming soon
    +preload

block scripts
    script(src="js/manifest.js")
    script(src="js/vendor.js")
    script(src="js/index.js")
