.callback {
    //@media (min-width: $break_md) {
    //    max-width: 721px;
    //    margin-bottom: 48px;
    //}
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 1;
    position: relative;
    @media (min-width: $break_md) {
        margin-left: 0;
        margin-right: 0;
    }
    &__form {
        @media (min-width: $break_md) {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    &__btn {
        margin-top: 35px;
        @media (min-width: $break_md) {
            max-width: 184px;
            height: 45px;
        }
        @media (min-width: $break_xl) {
            margin-top: 23px;
        }
    }
}
