mixin count(value = false)
    +b.SECTION.count
        +e.IMG(class="background-img lozad" data-src=`img/content/products-number.webp` data-srcset=`img/content/products-number@x2.webp 2x` media="(min-width: 768px)")
        .container
            .row
        +e.IMG(class="background-img-mob lozad" data-src=`img/content/products-number-mob.webp` data-srcset=`img/content/products-number-mob@x2.webp 2x` media="(min-width: 420px)")
            .container


