mixin count(value = false)
    +b.SECTION.count
        +picture({
            name: "products-number",
            class: "background-img-mob",
            md: true,
            style: "pointer-events: none",
            format: "png"
        })
        .container
            .row
                +e.wrp
                    +e.H2.heading Receive our Newsletter
                    +e.P.subheading And be the first to know about<br> new features!
                    +callback({
                        content: inputs,
                        btnText: "Subscribe",
                        elem: "footer__callback",
                    })


