mixin title(value = false)
    +b.SECTION.title
        .container
            .row.title__row
                +e.content
                    +e.H1.heading #{value.heading}
                    +e.IMG.img-title(src=`img/content/title-mob.webp` srcset=`img/content/title-mob@x2.webp 2x` media="(min-width: 767px)" height="335" width="320")
                    +e.text !{value.text}
                +e.img
                    +b.IMG(class="lozad" data-src=`img/content/title-desk.webp` data-srcset=`img/content/title-desk@x2.webp 2x` media="(max-width: 767px)" width="591" height="620")

