mixin preload(value = false)
    +b.preload
        +e.wrp
            +e.inner
                +e.dot
                +e.dot
                +e.dot
                +e.dot
                +e.dot
                +e.dot
                +e.dot
