mixin social(value = false)
    -
        var
                elem = value.elem
    +b.soc(class=elem)
        +e.UL.list
            each val, i in value.iconsName
                    +e.LI.item
                        if val[1]
                            +e.A.link(href=val[1] target="_black")
                                +icon({
                                    name: val[0],
                                    class: "soc__svg",
                                })
                        else
                            +e.A.link(target="_black")
                                +icon({
                                    name: val[0],
                                    class: "soc__svg",
                                })
