h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-width: 100%;
    background-color: #fff;
    overflow-x: hidden;
    font-family: $font-family-base;
    font-size: 16px;
    color: $black;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing--moz-osx-font-smoothing: grayscale;
}

.container {
    @include container();
}

.container-fix {
    @include container();
    @include md(max-width, $break_lg);
    @include lg(max-width, $break_xl);
}

.row {
    @include row-flex();
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
    text-decoration: none;
}

input, textarea {
    outline: none;
}

a {
    transition: color .2s ease;
    text-decoration: none;
}

.align-items-center {
    align-items: center;
}

.w-100 {
    width: 100%;
}

h1 {
    @media (min-width: $break_md) {
        font-size: 38px;
    }
    @media (min-width: $break_lg) {
        font-size: 48px;
    }
    font-size: 26px;
    color: $blue;
}

h2 {
    font-weight: bold;
    font-size: 24px;
    color: $font-light-black;
    text-align: center;
    @media (min-width: $break_md) {
        font-size: 36px;
    }
}

strong {
    font-weight: bold;
}

.inline-block {
    display: inline-block;
}

.section {
    padding-top: 40px;
    @media (min-width: $break_md) {
        padding-top: 80px;
    }
    &__heading {
        font-weight: 900;
        font-size: 36px;
        line-height: 42px;
        color: $font-black;

        position: relative;
        top: -65px;
        @media (min-width: $break_md) {
            top: 0;
            margin-bottom: 92px;
        }
    }
    &_lightgray {
        background-color: $light-gray;
    }
    &-solutions {
        .section__wrapper {
            padding: {
                top: 6px;
                bottom: 16px;
            }
            @media (min-width: $break_md) {
                padding: {
                    top: 0px;
                    bottom: 0px;
                }
            }
        }
    }
}

.header {
    display: none;
    @media (min-width: $break_md) {
        padding-right: 0;
        padding-left: 0;
        display: flex;
    }
    @media (min-width: $break_xl) {
        height: 80px;
        padding-top: 0;
        padding-bottom: 0;
    }
    position: fixed;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background: rgba(255, 255, 255, 0.8);
    //backdrop-filter: blur(2px);

    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: opacity .3s ease, visibility .3s ease, pointer-events .3s ease;

    &_hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    &_hamburger {
        top: 11px;
        left: 0px;
    }

    &__logo {
        @media (min-width: $break_md) {
            position: relative;
            top: auto;
            bottom: auto;
            left: auto;
            transform: none;
            margin-top: auto;
            margin-bottom: auto;
            width: 89px;
            height: 32px;
            margin-left: 15px;
            margin-right: 15px;
        }
        z-index: 101;
        position: absolute;
        top: 50%;
        bottom: 50%;
        left: 65px;
        transform: translateY(-50%);
        width: 56px;
        height: 20px;
    }
}

@-webkit-keyframes bounceInLeft {
    0%, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0) scaleX(3);
        transform: translate3d(-3000px, 0, 0) scaleX(3)
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0) scaleX(1);
        transform: translate3d(25px, 0, 0) scaleX(1)
    }
    75% {
        -webkit-transform: translate3d(-10px, 0, 0) scaleX(.98);
        transform: translate3d(-10px, 0, 0) scaleX(.98)
    }
    90% {
        -webkit-transform: translate3d(5px, 0, 0) scaleX(.995);
        transform: translate3d(5px, 0, 0) scaleX(.995)
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@keyframes bounceInLeft {
    0%, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0) scaleX(3);
        transform: translate3d(-3000px, 0, 0) scaleX(3)
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0) scaleX(1);
        transform: translate3d(25px, 0, 0) scaleX(1)
    }
    75% {
        -webkit-transform: translate3d(-10px, 0, 0) scaleX(.98);
        transform: translate3d(-10px, 0, 0) scaleX(.98)
    }
    90% {
        -webkit-transform: translate3d(5px, 0, 0) scaleX(.995);
        transform: translate3d(5px, 0, 0) scaleX(.995)
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@-webkit-keyframes bounceOutLeft {
    20% {
        opacity: 1;
        -webkit-transform: translate3d(20px, 0, 0) scaleX(.9);
        transform: translate3d(20px, 0, 0) scaleX(.9)
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(-2000px, 0, 0) scaleX(2);
        transform: translate3d(-2000px, 0, 0) scaleX(2)
    }
}

@keyframes bounceOutLeft {
    20% {
        opacity: 1;
        -webkit-transform: translate3d(20px, 0, 0) scaleX(.9);
        transform: translate3d(20px, 0, 0) scaleX(.9)
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(-2000px, 0, 0) scaleX(2);
        transform: translate3d(-2000px, 0, 0) scaleX(2)
    }
}

.footer {
    padding: 46px 0 26px;
    background-color: $font-black;
    @media(min-width: $break_md) {
        padding: 74px 0;
    }

    &__heading {
        width: 100%;
        color: $white;
        text-align: center;
        margin-bottom: 24px;
        transition: color .3s ease;
    }

    &__heading_error {
        color: $red;
    }

    &__callback {
        margin-bottom: 24px;
        max-width: 420px;
        @media (min-width: $break_md) {
            margin-bottom: 0;
        }
    }

    &__soc {
        margin-bottom: 52px;
    }

    &__copyright {
        @media (min-width: $break_md) {
            width: 460px;
            flex-wrap: nowrap;
            margin-left: auto;
            margin-right: auto;
            align-items: flex-end;
            justify-content: space-between;
        }
    }
    &__logo-mob {
        width: 68px;
        height: 24px;
        display: block;
        margin: 0 auto;
        margin-bottom: 52px;
        @media (min-width: $break_md) {
            display: none;
        }
    }
}

.qr-code-image {
    @media (min-width: $break_lg) {
        width: 280px;
        height: 291px;
        padding: 15px 31px 0px 31px;
        border-radius: 20px;
    }
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: $white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 8px 15px 0px 15px;
    width: 133px;
    height: 138px;
    text-align: center;
    z-index: 10;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s ease, opacity .3s ease;

    &[data-show] {
        pointer-events: auto;
        opacity: 1;
        visibility: visible;
    }

    &__triangle {
        &::before {
            @media (min-width: $break_lg) {
                width: 26px;
                height: 26px;
            }
            content: "";
            display: block;
            width: 14px;
            height: 14px;
            margin-left: -10px;
            background-color: #fff;
            transform: translateX(0px) rotate(45deg);
        }
    }

    &[data-popper-placement^='right'] .qr-code-image__triangle {
        left: 4px;
    }

    &[data-popper-placement^='left'] .qr-code-image__triangle {
        right: -5px;
    }

    &[data-popper-placement^='top'] .qr-code-image__triangle {
        bottom: 4px;
    }

    &[data-popper-placement^='bottom'] .qr-code-image__triangle {
        top: 4px;
    }

    svg {
        display: block;
        width: 100%;
        height: auto;
    }

    span {
        @media (min-width: $break_lg) {
            font-size: 16px;
            line-height: 19px;
        }
        font-size: 8px;
        line-height: 8px;
    }
}

.glide {
    &__bullet {
        background-color: $gray;
        box-shadow: none;
        &:hover, &:focus {
            background-color: $gray;
            border: none;
        }
    }

    &__bullets {
        position: relative;
        bottom: auto;
        @media (min-width: $break_sm) {
            left: auto;
            transform: translateX(0);
        }
    }
    &__bullet--active {
        background-color: $blue;
    }

    &__track {
        transition: height .3s linear;
    }
}

.social-popup {
    background-color: white;
    color: rgb(58, 58, 58);
    padding: 5px;
    position: absolute;
    margin-bottom: 10px !important;

    display: none;
    &[data-popper-placement="top"] {
        display: block;
    }
}
